<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>AVA - Turmas</title>
		<meta charset="utf-8">
		<link rel="stylesheet" th:href="@{/css/turma.css}"/>
		<script src="/js/conteudo.js"></script>
		 <!--Import Google Icon Font-->
		 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body id="telaInicial">
		<div id="cabecalho">
			<div id="logo">
				<img th:src="@{/imagens/logotopo.svg}" height="70px"  />
			</div>
			<div id="titulo">
				<strong color="#B40404">Área Restrita<br>
				Aluno<br>
				</strong>
			</div>
		</div>
			
	</div>
	<ul id="horizontal">
		<li>
			   &nbsp;&nbsp; 
		</li>
		<li class="home primeiro">
			<a href="/aluno">Home</a>
		</li>
		<li class="tarefas">
			<a href="/turmas/aluno">Turmas</a>
		</li>
		<li class="relatorios">
			<a href="/aluno/alunos">Alunos</a>
		</li>
		<li class="relatorios">
			<a href="/aluno/conteudo">Conteúdos</a>
		</li>
		<li class="cadastros">
			<a href="/aluno/avaliacao">Avaliações</a>
		</li>
		<li id="logout">
			<a href="/"><strong>Logout</strong></a>
		</li>
		<li id="logout">&nbsp;&nbsp; </li>
	</ul>
	<div id="rotina">
		<div class="container">
			<div id="titulo">
				<p>CONTEÚDOS/AVISOS</p>
			</div>
			<div class="container-turma">
				<ol id="horizontal" th:each="conteudo : ${conteudos}">
					<div class="turmas">
						<li>
							<td><span th:text="${conteudo.nome}"></span><i class="material-icons">book
							</i></td>
						</li>
						<a th:href="${(#mvc.url('CC#detalhesConteudoAluno').arg(0,conteudo.id)).build()}">
							<button type="submit" >Abrir</button>
						</a>
					</div>
				</ol>	
			</div>
			<div class="criarTurma">
				<br>
				<button class="submit" type="submit" onclick="criarConteudo()">Criar Conteúdo
					<i class="material-icons">add
					</i></button>
			</div>
		</div>
	</div>
		<div id="rodape">
			<strong>TODOS OS DIREITOS RESERVADOS</strong><br>
			Universidade Estadual da Paraíba - UEPB |
			Equipe : 10 em Ead
			<img th:src="@{/imagens/computer.png}" />		
		</div>
	</body>
</html>
