<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>AVA - Professores</title>
		<meta charset="utf-8">
		<link rel="stylesheet" th:href="@{/css/professor.css}"/>
		<script src="/js/avaliacao.js"></script>
	</head>

	<body id="telaInicial">
		<div id="cabecalho">
			<div id="logo">
				<img th:src="@{/imagens/logotopo.svg}" height="70px"  />
			</div>
			<div id="titulo">
				<strong color="#B40404">Área Restrita<br>
				Professor<br>
				</strong>
			</div>
		</div>
			
	<ul id="horizontal">
		<li>
			   &nbsp;&nbsp; 
		</li>
		<li class="home primeiro">
			<a href="/professor">Home</a>
		</li>
		<li class="tarefas">
			<a href="/turmas">Turmas</a>
		</li>
		<li class="relatorios">
			<a href="/alunos">Alunos</a>
		</li>
		<li class="relatorios">
			<a href="/conteudo">Conteúdos</a>
		</li>
		<li class="cadastros">
			<a href="/avaliacao">Avaliações</a>
		</li>
		<li id="logout">
			<a href="login.html"><strong>Logout</strong></a>
		</li>
		<li id="logout">&nbsp;&nbsp; </li>
	</ul>

	<div id="rotina">
		<h1>Turma</h1>
		<form method="post">
			Nome: <input type="text" value="" name="nome"/>
			Horario: <input type="text" value="" name="horario"/>
			<!--id Professor: <input type="number" value="" name="professor_id"/>  -->
			
			<button type="submit"> Criar </button>
		</form>
	</div>

		<div id="rodape">
			<strong>TODOS OS DIREITOS RESERVADOS</strong><br>
			Universidade Estadual da Paraíba - UEPB |
			Equipe : 10 em Ead
			<img th:src="@{/imagens/computer.png}" />		
		</div>
	</body>
</html>
