<!DOCTYPE html>
<html>
	<head>
		<title>AVA - Suporte</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/suporte.css">
		<script src="js/suporte.js"></script>
	</head>

	<body id="telaInicial">
		<div id="cabecalho">
			<div id="logo">
				<img src="imagens/logotopo.svg" height="70px">
			</div>
			<div id="titulo">
				<strong color="#B40404">Área Restrita<br>
				Suporte<br>
				</strong>
			</div>
		</div>
		<ul id="horizontal">
		<li>
			   &nbsp;&nbsp; 
		</li>
		<li class="home primeiro">
			<a href="suporte.html">Home</a>
		</li>
		<li class="tarefas">
			<a href="suporteCadastros.html">Cadastros</a>
		</li>
		<li id="logout">
			<a href="login.html"><strong>Logout</strong></a>
		</li>
		<li id="logout">&nbsp;&nbsp; </li>
	</ul>

	<div id="rotina">
		<p>Bem-vindo a área do Suporte!</p>
		<p>Aqui é possivel cadastrar os professores!
			<br>
			<br>
			<br>
		   	<br> Faça um bom proveito!
		</p>
	</div>
	
		<div id="rodape">
			<strong>TODOS OS DIREITOS RESERVADOS</strong><br>
			Universidade Estadual da Paraíba - UEPB |
			Equipe : 10 em Ead
			<img src="imagens/computer.png">		
		</div>
	</body>
</html>