<!DOCTYPE html>
<html>
	<head>
		<title>AVA - Alunos</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/aluno.css">
		<script src="js/aluno.js"></script>
	</head>

	<body id="telaInicial">
		<div id="cabecalho">
			<div id="logo">
				<img src="imagens/logotopo.svg" height="70px">
			</div>
			<div id="titulo">
				<strong color="#B40404">Área Restrita<br>
				Aluno<br>
				</strong>
			</div>
		</div>
			
	</div>
	<ul id="horizontal">
		<li>
			   &nbsp;&nbsp; 
		</li>
		<li class="home primeiro">
			<a href="aluno.html">Home</a>
		</li>
		<li class="tarefas">
			<a href="alunoTurmas.html">Turmas</a>
		</li>
		<li class="relatorios">
			<a href="alunoConteudos.html">Conteúdos</a>
		</li>
		<li class="cadastros">
			<a href="alunoAtividades.html">Atividades</a>
		</li>
		<li class="noticias">
			<a href="alunoForum.html">Fórum</a>
		</li>
		<li id="logout">
			<a href="/"><strong>Logout</strong></a>
		</li>
		<li id="logout">&nbsp;&nbsp; </li>
	</ul>

	<div id="rotina">
		<p>Bem-vindo a área do Aluno!</p>
		<p>Aluno, aqui você poderá visualizar seus conteúdos, atividades avaliativas a serem desenvolvidas, ferramentas de interação e acesso as notas.
			<br>
			<br>
		   	<br> Faça um bom proveito!
		</p>
	</div>

		<div id="rodape">
			<strong>TODOS OS DIREITOS RESERVADOS</strong><br>
			Universidade Estadual da Paraíba - UEPB |
			Equipe : 10 em Ead
			<img src="imagens/computer.png">		
		</div>
	</body>
</html>